beautifulsoup4==4.12.3
Brotli==1.1.0
cffi==1.17.1
cssselect2==0.7.0
EbookLib==0.18
fonttools==4.54.1
html5lib==1.1
lxml==5.3.0
pdfkit==1.0.0
pillow==11.0.0
pycparser==2.22
pydyf==0.11.0
pypdf==5.1.0
PyPDF2==3.0.1
pyphen==0.16.0
six==1.16.0
soupsieve==2.6
tinycss2==1.4.0
webencodings==0.5.1
zopfli==0.2.3.post1
